<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    教程合集
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
 <main>
<div class="container">
    <div class="row">
        <div class="col-9">
            <br>
            <a href="/article/course-detail-view/51/" style="color: gray;margin:3px;display:block; font-size: 30px;
                text-decoration: none"  class="bg-light" class="bg-light">
                Ansible教程
            </a>
            <ul>
                {% for article in articles %}
                        {% if article.column.course == 'course' %}
                            <li>
                                <a href="{% url 'article:course_detail_view' article.id %}" style="color: black;margin:3px;display:block; text-decoration: none; border-radius: 3px" class="bg-light">{{ article.title }}</a>
                            </li>
                        {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock content %}