<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 写文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div>
                        <label>文章标题</label>
                        <div>{{ form.title }}</div>
                    </div>
                    <br>
                    <div>
                        <label for="avatar">标题图</label>
                        <div>{{ form.avatar }}</div>
                    </div>
                    <br>
                    <div>
                        <div><label for="column">栏目</label></div>
                        <div>
                            {{ form.column }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="tags">标签</label>
                        <div>{{ form.tags }}</div>
                    </div>
                    <br>
                    <div>
                        <label for="body">文章正文</label>
                        <div>{{ form.body }}</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">完成</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}